# How do I use the MultiIndex in pandas? ([video](https://www.youtube.com/watch?v=tcRGa2soc-c&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=31))

- [My pandas video series](https://www.dataschool.io/easier-data-analysis-with-pandas/)
- [GitHub repository](https://github.com/justmarkham/pandas-videos)

In [1]:
import pandas as pd

In [2]:
stocks = pd.read_csv('data.csv')
stocks

         Date   Close    Volume Symbol Symbol.1
0  2016-10-03   31.50  14070500   CSCO     csco
1  2016-10-03  112.52  21701800   AAPL     aapl
2  2016-10-03   57.42  19189500   MSFT     msft
3  2016-10-04  113.00  29736800   AAPL     aapl
4  2016-10-04   57.24  20085900   MSFT     msft
5  2016-10-04   31.35  18460400   CSCO     csco
6  2016-10-05   57.64  16726400   MSFT     msft
7  2016-10-05   31.59  11808600   CSCO     csco
8  2016-10-05  113.05  21453100   AAPL     aapl

In [3]:
stocks.index

RangeIndex(start=0, stop=9, step=1)

In [4]:
stocks.groupby('Symbol').Close.mean()

Symbol
AAPL    112.856667
CSCO     31.480000
MSFT     57.433333
Name: Close, dtype: float64

## Series with MultiIndex

In [5]:
ser = stocks.groupby(['Symbol', 'Date']).Close.mean()
ser

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [6]:
ser.index

MultiIndex([('AAPL', '2016-10-03'),
            ('AAPL', '2016-10-04'),
            ('AAPL', '2016-10-05'),
            ('CSCO', '2016-10-03'),
            ('CSCO', '2016-10-04'),
            ('CSCO', '2016-10-05'),
            ('MSFT', '2016-10-03'),
            ('MSFT', '2016-10-04'),
            ('MSFT', '2016-10-05')],
           names=['Symbol', 'Date'])

In [7]:
ser.unstack()

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [8]:
df = stocks.pivot_table(values='Close', index='Symbol', columns='Date')
df

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

## Selection from Series with MultiIndex

In [9]:
ser

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [10]:
ser.loc['AAPL']

Date
2016-10-03    112.52
2016-10-04    113.00
2016-10-05    113.05
Name: Close, dtype: float64

In [11]:
ser.loc['AAPL', '2016-10-03']

112.52

In [12]:
ser.loc[:, '2016-10-03']

Symbol
AAPL    112.52
CSCO     31.50
MSFT     57.42
Name: Close, dtype: float64

In [13]:
df

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [14]:
df.loc['AAPL']

Date
2016-10-03    112.52
2016-10-04    113.00
2016-10-05    113.05
Name: AAPL, dtype: float64

In [15]:
df.loc['AAPL', '2016-10-03']

112.52

In [16]:
df.loc[:, '2016-10-03']

Symbol
AAPL    112.52
CSCO     31.50
MSFT     57.42
Name: 2016-10-03, dtype: float64

## DataFrame with MultiIndex

In [17]:
stocks.set_index(['Symbol', 'Date'], inplace=True)
stocks

                    Close    Volume Symbol.1
Symbol Date
CSCO   2016-10-03   31.50  14070500     csco
AAPL   2016-10-03  112.52  21701800     aapl
MSFT   2016-10-03   57.42  19189500     msft
AAPL   2016-10-04  113.00  29736800     aapl
MSFT   2016-10-04   57.24  20085900     msft
CSCO   2016-10-04   31.35  18460400     csco
MSFT   2016-10-05   57.64  16726400     msft
CSCO   2016-10-05   31.59  11808600     csco
AAPL   2016-10-05  113.05  21453100     aapl

In [18]:
stocks.index

MultiIndex([('CSCO', '2016-10-03'),
            ('AAPL', '2016-10-03'),
            ('MSFT', '2016-10-03'),
            ('AAPL', '2016-10-04'),
            ('MSFT', '2016-10-04'),
            ('CSCO', '2016-10-04'),
            ('MSFT', '2016-10-05'),
            ('CSCO', '2016-10-05'),
            ('AAPL', '2016-10-05')],
           names=['Symbol', 'Date'])

In [19]:
stocks.sort_index(inplace=True)
stocks

                    Close    Volume Symbol.1
Symbol Date
AAPL   2016-10-03  112.52  21701800     aapl
       2016-10-04  113.00  29736800     aapl
       2016-10-05  113.05  21453100     aapl
CSCO   2016-10-03   31.50  14070500     csco
       2016-10-04   31.35  18460400     csco
       2016-10-05   31.59  11808600     csco
MSFT   2016-10-03   57.42  19189500     msft
       2016-10-04   57.24  20085900     msft
       2016-10-05   57.64  16726400     msft

## Selection from DataFrame with MultiIndex

In [20]:
stocks.loc['AAPL']

             Close    Volume Symbol.1
Date
2016-10-03  112.52  21701800     aapl
2016-10-04  113.00  29736800     aapl
2016-10-05  113.05  21453100     aapl

In [21]:
stocks.loc[('AAPL', '2016-10-03'), :]

Close         112.52
Volume      21701800
Symbol.1        aapl
Name: (AAPL, 2016-10-03), dtype: object

In [22]:
stocks.loc[('AAPL', '2016-10-03'), 'Close']

112.52

In [23]:
stocks.loc[['AAPL', 'MSFT'], :]

                    Close    Volume Symbol.1
Symbol Date
AAPL   2016-10-03  112.52  21701800     aapl
       2016-10-04  113.00  29736800     aapl
       2016-10-05  113.05  21453100     aapl
MSFT   2016-10-03   57.42  19189500     msft
       2016-10-04   57.24  20085900     msft
       2016-10-05   57.64  16726400     msft

In [24]:
stocks.loc[(['AAPL', 'MSFT'], '2016-10-03'), :]

                    Close    Volume Symbol.1
Symbol Date
AAPL   2016-10-03  112.52  21701800     aapl
MSFT   2016-10-03   57.42  19189500     msft

In [25]:
stocks.loc[(['AAPL', 'MSFT'], '2016-10-03'), 'Close']

Symbol  Date
AAPL    2016-10-03    112.52
MSFT    2016-10-03     57.42
Name: Close, dtype: float64

In [26]:
stocks.loc[('AAPL', ['2016-10-03', '2016-10-04']), 'Close']

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
Name: Close, dtype: float64

In [31]:
stocks.loc[([:], ['2016-10-03', '2016-10-04']), :]

SyntaxError: invalid syntax (Temp/ipykernel_5644/2633700142.py, line 1)

## Merging DataFrames with MultiIndexes

In [28]:
close = pd.read_csv('data/stocks.csv', usecols=[0, 1, 3], index_col=['Symbol', 'Date']).sort_index()
close

FileNotFoundError: [Errno 2] No such file or directory: 'data/stocks.csv'

In [ ]:
volume = pd.read_csv('data/stocks.csv', usecols=[0, 2, 3], index_col=['Symbol', 'Date']).sort_index()
volume

In [ ]:
both = pd.merge(close, volume, left_index=True, right_index=True)
both

In [ ]:
both.reset_index()